*{
    margin: 0;
    padding: 0;
}
body{
    width: 80%;
}
h1{
    color: red;
    text-align: center;
    margin-top: 20px;
}
.para1{
    color: rgb(255, 0, 179);
    background-color: blue;
    padding: 20px;
    text-align: justify;
    margin: 20px 0;
}
.para2{
    color: rgb(0, 255, 179);
    background-color: blue;
    padding: 20px;
    text-align: justify;
    margin: 20px 0;
}
.para3{
    color: rgb(145, 255, 0);
    background-color: blue;
    padding: 20px;
    text-align: justify;
    margin: 20px 0;
}